.footer1 {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    background: rgb(7, 66, 105);
    color: #FFFFFF;
  }

.map-container {
    text-align: center;
    padding-bottom: 50px; 
}

.map-container iframe {
    margin: auto;
}

.content-container {
  min-height: calc(90vh - 10px); 
 }

 .custom-img-height {
  height: 400px; 
}

@media print {
  
  .navbar, .footer, .btn, .navigation-links {
      display: none !important;
  }

  
  body {
      font-size: 10px;
  }

  .content-container {
      width: 100%;
      margin: 0;
      padding: 0;
  }

  
}

.cart-icon {
  font-size: 30px !important;
  
}

#carouselExampleAutoplaying {
  width: 500px;
  margin: auto;
}
 .carousel-item img {
    width: 30%;
    max-height: 100%;
}

.carousel-item {
  border: 2px solid #2b7dce; /* Couleur et épaisseur de la bordure */
  padding: 5px; /* Espace intérieur de la bordure pour un meilleur aspect */
}

.title-style {
  font-size: 3em; /* Taille de police plus grande */
  border: 3px solid #007bff; /* Bordure bleue */
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif; /* Choisissez une police élégante */
  animation: border-animation 3s infinite; /* Animation infinie */
}

@keyframes border-animation {
  0%   {border-color: #007bff;}
  25%  {border-color: #28a745;}
  50%  {border-color: #ffc107;}
  75%  {border-color: #dc3545;}
  100% {border-color: #007bff;}
}

.title-container {
    max-width: 50%; /* Ajustez selon vos besoins */
    margin: 0 auto; /* Centre le div */
    /* Autres styles si nécessaire */
}

.card-text {
  max-height: 100px; /* Ajustez selon vos besoins */
  overflow-y: auto; /* Ajoute une barre de défilement si nécessaire */
}


.card-custom {
  height: 400px; /* Réglez la hauteur souhaitée */
}

