.footer1 {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    background: rgb(7, 66, 105);
    color: #FFFFFF;
  }

.map-container {
    text-align: center;
    padding-bottom: 50px; 
}

.map-container iframe {
    margin: auto;
}

.content-container {
  min-height: calc(90vh - 10px); 
 }

 .custom-img-height {
  height: 400px; 
}

@media print {
  
  .navbar, .footer, .btn, .navigation-links {
      display: none !important;
  }

  
  body {
      font-size: 10px;
  }

  .content-container {
      width: 100%;
      margin: 0;
      padding: 0;
  }

  
}

.cart-icon {
  font-size: 30px !important;
  
}
